body{
    font-family: 'Pacifico', cursive;

}
#gll{
    width: 200px;
    height: 150px;
}
#hr1{
    color: gray;
    line-height: 100;
}
.block{
    background-color: gray;
}
button{
    border-radius: 78;
}